VITE_API_URL=http://localhost:8000/api
VITE_REVERB_APP_KEY=y7rkndsb9ucsuhaxxd1r
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http

#Remote access 
#VITE_API_URL=https://desafio-fullstack-production-35e4.up.railway.app/api
#VITE_REVERB_APP_KEY=y7rkndsb9ucsuhaxxd1r
#VITE_REVERB_HOST=reverb-production-f17b.up.railway.app
#VITE_REVERB_PORT=443
#VITE_REVERB_SCHEME=https